//MAKE CSS VARIABLES HERE

//===Colours===

$background-color: #f1f1f1;
$red: #690800;
$yellow: #f3d83f;
$side-bar-color: #505050;
$footer-color: #444444;
$control-centre-color: #383838;

$locked-font-color: #ed5565;
$viewed-font-colour: #a3cb7c;
$notviewed-font-colour: #d6b600;

//===Fonts===

$main-font: "Myriad Pro";

$paragraph-size: 14px;
$side-bar-size: 14px;
$course-size: 42px;
$tab-size: 18px;
$course-description-size: 23.98px;